<p>Below are the various option to upload the stl/SCAD file which will allow for the ability to choose a filament 
  type which will be processed and provide an estimate for the pricing on the 3D print.</p>

<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
  <label for="file">Upload STL:</label>
  <input type="file" id="file" (change)="onFileChange($event)" />

  <label for="filament">Select Filament:</label>
  <select id="filament" formControlName="filament">
    <option *ngFor="let filament of filaments" [value]="filament.filament">{{ filament.filament }}</option>
  </select>

  <button type="submit">Submit</button>
</form>

<p *ngIf="price">Estimated Price: {{ price }}</p>
